/* Global */

body {
    max-width: 760px;
    float: none;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Farro', sans-serif;
    padding: 5px 15px 5px 15px;
}

p {
    font-family: 'Farro', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 15px;
}

a {
    font-family: 'Farro', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    text-decoration: none;
    color: #d42402;
}

a:hover {
    color:red
}

ul li {
    list-style:none;
    font-family: 'Farro', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    text-decoration: none;
    text-indent: 0%;
    width: 60%;
}

#nav {
    text-align:center;
    }
    #nav li {
    display:inline;
    }
    #nav a {
    text-decoration:none; 
    padding:0 30px; /* variable width */
    }

    #nav a img:hover {
        box-shadow: 0 4px 4px 0 #401c04;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
}

.logo img:hover {
    box-shadow: 0 8px 10px 0 #401c04;
}

footer {
    display:inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/*Homepage*/

main {
    float:left;
    width: 67%;
    display: block;
    min-height: 300px;
}

aside {
    float:right;
    width:28%;
    display: block;
    min-height: 300px;
}

/*Font Colours*/
#i1 {
    color:#401c04;
}

/* Mobile CSS */
@media screen and (max-width:600px) {
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

/* Popups */
.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:#401c04;
    z-index:1;
    display: none;
}

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background:#fff;
    width:450px;
    height:220px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}

.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popup.active .overlay {
display:block;
}

.popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}